*{
    background: none;
    outline: none;
    /* pointer-events: auto; */
    user-select: none;
    -webkit-user-select: none;
}
#loading{
    background-image: url(../img/smallback.jpg);
    height:  -webkit-fill-available;
    width: 100%;
    background-repeat: round;
}
#rotate{
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-top: -56.8px;
    left: 50%;
    margin-left: -30px;
    animation:   rotate 1.2s linear infinite;
    -webkit-animation:   rotate 1.2s linear infinite;
    -webkit-transform-origin:center;
    -moz-animation:    rotate 1.2s linear infinite;
    -o-animation:     rotate 1.2s linear infinite; 
}
h3,.loadspan{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    height: 25px;
    width: 70px;
    margin-top: 18.7px;
    margin-left: -50px;
    animation:   shan 1s linear infinite;
    -webkit-animation:   shan 1s linear infinite;
    -webkit-transform-origin:center;
    -moz-animation:    shan 1s linear infinite;
    -o-animation:     shan 1s linear infinite; 
}
.loadspan{
    font-size: xx-large;
    border-radius: 100%;
    left: 50%;
    font-size: xx-large;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 4px;
}
.loadspan::before,.loadspan::after{
    content: ".";
    margin-left: 5px;
    font-size: xx-large;
    color: white;
    animation:   tiao 1s linear infinite;
    -webkit-animation:   tiao 1s linear infinite;
    -webkit-transform-origin:center;
    -moz-animation:    tiao 1s linear infinite;
    -o-animation:     tiao 1s linear infinite; 
}
@keyframes tiao{
    to{
        margin-top: 2px;
    }
}
@-webkit-keyframes tiao{
    to{
        margin-top: 2px;
    }
}
@keyframes rotate {
    0% { 
        transform:rotate(0) scale(1);
    }
    50% {
        transform:rotate(180deg) scale(0.8);
       } 
   100% {
       transform:rotate(360deg) scale(1);
   }
}
@-webkit-keyframes rotate {
    0% { 
        transform:rotate(0) scale(1);
    }
    50% {
        transform:rotate(180deg) scale(0.8);
       } 
   100% {
       transform:rotate(360deg) scale(1);
   }
}
@keyframes shan{
    10%{
        opacity:0.9;
    }
    50%{
        opacity: 0.5;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes shan{
    10%{
        opacity:0.9;
    }
    50%{
        opacity: 0.5;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
html{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
body{
    /* background-image: url(../img/background.png);  */
    background-attachment: fixed;
    background-size: 150%;
    background-repeat: space;
    background-position: bottom;
    background-attachment: fixed;
    background-position-y: 100%;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
}
img{
    margin-bottom: 28px;
    max-width: 100%;
    margin-top: 8px;
    /* text-align: center; */
    /* left: 50%; */
    pointer-events: auto;
    margin-left: 8%;
}
h1{
    font-family: "Microsoft YaHei";
    color: rgba(253, 218, 56, 0.929);
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke: rgb(62,99,164);
    -webkit-text-stroke-width: 1.3px;
    margin-top: 10%;
    white-space: nowrap;
    /* height: 0px; */
    font-size: 30px;
    padding-left: 5px;
}
.title{
    /* max-width: 80%; */ 
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-bottom: 30px;
    margin-top: 55px;
    /* transform: scale(0.68); */
}
.aside{
    display: grid;
}
#info{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 25px;
    margin-top: 0%;
    margin-left: 28px;
    color: white;
    font-size: 20px;
    /* margin-left: 20px; */
    align-items: center;
}
.div_info{
    /* margin-left: 20px; */
    margin-top: 30px;
    /* position: absolute; */
    /* padding-left: 28px; */
    padding-bottom: 10px;
    /* width: max-content; */
    /* padding-right: 115px; */
    height: max-content;
    /* padding-top: 12.5%; */
    /* padding-left: 25px; */
}
.info{
    display: grid;
    padding-top: 15px;
    margin-bottom: 25px;
    margin-top: 0%;
    align-items: center;
    font-size: 18px;
}
label{
    margin-top: 10%;
}
#index,#rule_page,#info,#yourwish,#hope_page,#help_page,.success,#expode_page{
    display: none;
}
#help_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.index,.btn1,.btn2{
    padding: 0%;
    margin: 0%;
    display: block;
    /* text-align: center; */
    /* height: 6vh; */
    width: 100%;
    margin-bottom: 10px;
    width: 80%;
    /* margin-bottom: 15px; */
    margin-right: 12.5%;
    margin-top: 10%;
    margin-left: 9.5%;
}
#wish,#help,#rule,#mine{
    /* height: 70px; */
    margin: 0;
    padding: 0;
    /* margin-left: 25%; */
    position: relative;
    width: 128px;
    left: 50%;
    margin-bottom: 9%;
    margin-left: -60px;
    /* width: 120px; */
    /* transform: scale(0.76); */
    height: 58px;
}
#top{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    float: left;
    margin-left: -20px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 10px;
    height: 52px;
    transform: scale(0.8);
}

#yourwish{
    align-items: center;
}
.page,div#index{
    position: relative;
    margin-top: 12px;
    margin-bottom: 12.5%;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-left: 12.5%;
    margin-right: 12.5%; */
    /* padding: 12.5%; */
    /* height: -webkit-fill-available; */
    /* width: -webkit-fill-available; */
}
.main_contain{
    /* display: grid; */
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: auto;
    grid-gap: 3.5vh;
    grid-template-rows: 45vh 7.4vh 7.4vh 7.4vh 7.4vh;
    margin-top: 3%;
    /* height: -webkit-fill-available; */
}


#yours{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
#rule{
    width: 98px;
    margin: 0;
    left: 0;
    /* margin-top: 12px; */
    position: relative;
    margin-left: 70px;
    bottom: 0;
}
#pika{
    margin: 0;
    padding: 0;
    position: relative;
    width: 85px;
    /* top: 0; */
    bottom: 0;
    margin-left: 25px;
    margin-bottom: 15px;
}
.select{
    display: none;
    width: 40px;
    position: absolute;
    /* top: 100px; */
    margin: 0;
    /* float: right; */
    /* left: 0; */
    margin-left: 260px;
    top: 40px;
}
#rule_page{
    /* background-image: url(../img/rules.png); */
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin-top: 25%; */
    overflow: hidden;
}
p{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 35px;
    /* padding-bottom: 95px; */
    white-space: normal;
    overflow: scroll;
    height: 235px;
    font-size: 20px;
    color: white;
    border: solid rgba(253, 218, 56, 0.929) 4px;
    font-family: SimHei;
    font-weight: 100;
    border-radius: 0.4em;
}
.helpbox,#help1,#help2,#help3{
    /* background-image: url(../img/2.png); */
    height: 15vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding-top: 15px;
    padding-left: 12px;
    width: 260px;
    height: 55px;
    padding-bottom: 3.5vh;
    font-family: SimHei;
    font-size: 18px;
    border: solid #d2b634 3px;
    color: white;
    margin-bottom: 15px;
    border-radius: 0.4em;
    /* float: left; */
}

#change{
    position: relative;
    width: 25%;
    margin: 0;
    /* height: 1%; */
    padding: 0;
    top: -20px;
    margin-top: 25px;
    left: 20%;
    margin-bottom: 15px;
    z-index: 22;
}
#selected{
    /* position: absolute; */
    position: relative;
    bottom: 10%;
    /* margin-bottom: 28%; */
    margin: 0;
    /* left: 50%; */
    margin-bottom: 10%;
    height: 58px;
    width: 128px;
    margin: 0;
    margin-top: 15px;
    transform: scale(0.8);
}
#btn1,#btn2{
    margin: 0;
    padding: 0;
    height: max-content;
    width: max-content;
    max-width: 18%;
    height: 25%;
    color: white;
    margin-right: 5%;
}
#back{
    bottom: 0;
    position: relative;
    top: 0;
    height: 58px;
    width: 128px;
    margin: 0;
    margin-top: 45px;
    transform: scale(0.8);
}
#ok2{
    height: 58px;
    width: 128px;
    margin: 0;
    margin-top: 15px;
    transform: scale(0.8);
}
h2{
    text-align: center;
    font-family: 微软雅黑;
    font-weight: 350;
    margin: 0;
    color: white;
    font-size: 25px;;
    margin-bottom: 10px;
    padding-left: 15px;
}

#back_index{
    margin: 0%;
    bottom: 0;
    position: relative;
    top: 0;
    height: 58px;
    width: 128px;
    margin: 0;
    margin-top: 15px;
    transform: scale(0.8);
    display: none;
}
#expode_page{
    display: flex;
    flex-direction: column;
    height: max-content;
    /* padding-left: 25%; */
    /* padding-right: 25%; */
    text-align: -webkit-center;
    padding-top: 20px;
    margin-top: 25%;
    position: absolute;
    width: 100%;
}
#expode_page:first-child{
    padding-left: 28px;
}
.getelf{
    /* background-image: url(../img/bigelfboder.png); */
    margin: 0;
    padding: 0;
    height: 200px;
    width: 200px;
    background-size: contain;
    /* margin: 0; */
    background-repeat: round;
    margin-top: 5vh;
}
.elfcontain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: 15px; */
    justify-content: start;
    position: relative;
    align-content: start;
    height: 310px;
    grid-column-gap: 30px;
    margin-top: 27px;
    overflow: scroll;
    padding: 8px;
    /* height: 350px;
    margin-bottom: 40px; */
    width: 100%;
}
.page,#expode_page{
    display: none;
}
.elfpic{
    /* position: relative;
    margin: 0;
    padding: 0;
    top: -50%;
    left: 0;
    margin-top: -20px;
    margin-left: 5px; */
    position: relative;
    margin: 0;
    padding: 0;
    top: -126px;
    left: 0;
    margin-top: 0;
    margin-left: 6px;
    width: 90px;
}
.explode_gif{
    position: absolute;
    /* align-items: center; */
    top: 50%;
    margin: 0;
    width: 150px;
    margin-top: -95px;
    left: 50%;
    margin-left: -70px;
    animation:bomb 8s;
    -webkit-animation:bomb 8s;
    animation-fill-mode:forwards;
    -webkit-transform-origin:center;
    animation-timing-function: ease-in;
}
.ball{
    height: 120px;
}
@keyframes hide{
    to{
        opacity: 0.1;
    }
}
@-webkit-keyframes hide{
    to{
        opacity: 0.1;
    }
}
@keyframes bomb{
    from{
        /* position: absolute; */
        transform: scale(1);
        z-index: 10;
    }
    to{
        /* position: absolute; */
        transform: scale(34);
        opacity: 0.4;
        z-index: 10;
    }
}
@-webkit-keyframes bomb{
    from{
        /* position: absolute; */
        transform: scale(1);
        z-index: 10;
    }
    to{
        /* position: absolute; */
        transform: scale(34);
        opacity: 0.4;
        z-index: 10;
    }
}
.ballpic{
    position: relative;
    margin: 0;
    padding: 0;
    /* top: -111px; */
    left: 50%;
    margin-top: 0;
    margin-left: -35px;
    width: 70px;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.elfcontain1{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 120px 120px 120px;
    justify-content: start;
    position: relative;
    align-content: space-between;
    /* height: 300px; */
    grid-column-gap: 30px;
    margin-top: 27px;
    overflow-y: scroll;
    /* width: 90%; */
    padding: 8px;
    height: 340px;
}
#balls{
    animation-fill-mode:forwards;
    -webkit-transform-origin:center;
    animation-timing-function: ease-in;
}
.getpic{
    margin-bottom: 28px;
    max-width: 100%;
    margin-top: 8px;
    /* text-align: center; */
    /* left: 50%; */
    margin-left: 8%;
    height: 100%;
    width: 100%;
    margin: 0%;
}
.span1{
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 45px;
    font-size: 150%;
    font-weight: 348;
}
.span2{
    position: absolute;
    /* right: 0; */
    left: 0;
    margin-left:  140px;
    margin-top: 10px;
    font-size: 150%;
    font-weight: 348;
}
.h1{
    font-size: 28px;
    padding-left: 10px;
}
.welcome{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -99999px;
    animation-timing-function:ease;
}
#welcome_p{
    margin: 0;
    width: 300px;
    margin-top: 25%;
}
@keyframes shan2{
    10%{
        opacity:1;
    }
    50%{
        opacity: 0.7;
    }
    70%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes shan2{
    10%{
        opacity:1;
    }
    50%{
        opacity: 0.7;
    }
    70%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
h5{
    font-family: "Microsoft YaHei";
    color: rgba(253, 218, 56, 0.929);
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke: rgb(62,99,164);
    -webkit-text-stroke-width: 1.3px;
    margin-top: 10%;
    white-space: nowrap;
    /* height: 0px; */
    font-size: 35px;
}

#img41{
    margin: 0;
    width: 130px;
    margin-top: 30px;
    animation:   shan2 1s linear infinite;
    -webkit-animation:   shan2 1s linear infinite;
    -webkit-transform-origin:center;
    -moz-animation:    shan2 1s linear infinite;
    -o-animation:     shan2 1s linear infinite;
    margin-top: 80px;
}
@keyframes punch{
    /* 10%{
        top: -100px;
    }
    40%{
        top:-80px;
    }
    50%{
        top:-60px;
    }
    80%{
        top: -100px;
    }
    90%{
        top:-40px;
    } */
    100%{
        top: 0px;
    }
}
@-webkit-keyframes punch{
    /* 10%{
        top: -100px;
    }
    40%{
        top:-80px;
    }
    50%{
        top:-60px;
    }
    80%{
        top: -100px;
    }
    90%{
        top:-40px;
    } */
    100%{
        top: 0px;
    }
}
.p{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 10px;
    /* padding-bottom: 95px; */
    white-space: normal;
    overflow: scroll;
    height: 300px;
    font-size: 18px;
    color: white;
    border: solid rgba(253, 218, 56, 0.929) 4px;
    font-family: SimHei;
    font-weight: 100;
    margin-left: 30px;
    margin-right: 30px;
    /* width: 80%; */
    border-radius: 0.4em;
    padding-bottom: 30px;
}
#done{
    position: relative;
    color: rgba(253, 218, 56, 0.929);
    -webkit-text-stroke: rgb(62,99,164);
    -webkit-text-stroke-width: 0.6px;
    font-size: 18px;
    top: -112px;
    font-weight: 600;
    left: 215px;
}
.help_attention{
    display: none;
    background-image: url(../img/attentionbk.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 300px;
    height: 243px;
    z-index: 100;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -140px;
}
.att{
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 0;
    top: 90px;
    border: 0;
    /* height: 20px; */
    font-size: 100%;
    white-space: normal;
    height: 50px;
    /* padding: 15px; */
    width: 260px;
    padding-left: 15px;
}
#iknow{
    width: 128px;
    height: 58px;
    /* transform: scale(0.8); */
    position: absolute;
    top: 0;
    top: 160px;
    left: 50%;
    margin-left: -64px;
    transform: scale(0.8);
}
.minewishes{
    margin: 0;
    border: 0;
    font-size: 18px;
    padding: 0;
    height: 60px;
    margin-top: 8px;
    white-space: normal;
}